.bg-w {
	background-color: $col-white;
}
.bg-w-1 {
	background-color: $col-white-1;
}
.flexi {
	display: flex;
	align-items: center;
}

.col-g-2 {
	background-color: $col-gray-2;
}
.col-purp {
	color: $col-purple;
}
.bord-1 {
	border: 1px solid $col-gray-1;
}
.bord-2 {
	border: 2px solid $col-gray-1;
}

.flex-center {
	display: flex;
	align-items: center;
}
.bg-g-1 {
	background-color: $col-gray-1;
}
.bg-g-2 {
	background-color: $col-gray-2;
}

.large_txt {
	font-size: 3.7rem;
	font-weight: 700;
}

.bg-purp {
	background-color: $col-purple;
}

.col-g-2 {
	color: $col-gray-2;
}
.col-g-1 {
	color: $col-gray-1;
}

.col-w {
	color: $col-white;
}

.col-bl-1 {
	color: $col-black-1;
}
.col-bl {
	color: $col-black;
}
.col-bl-2 {
	color: lighten($col-black-1, 30%);
}

.mt-med {
	margin-top: 6rem;
}

@for $var from 1 through 5 {
	.m-#{$var} {
		margin: $var * 1rem;
	}
	.mt-#{$var} {
		margin-top: $var * 1rem;
	}
	.mr-#{$var} {
		margin-right: $var * 1rem;
	}
	.mb-#{$var} {
		margin-bottom: $var * 1rem;
	}
	.ml-#{$var} {
		margin-left: $var * 1rem;
	}
	.pt-#{$var} {
		padding-top: $var * 1rem;
	}
	.pr-#{$var} {
		padding-right: $var * 1rem;
	}
	.pb-#{$var} {
		padding-bottom: $var * 1rem;
	}
}

.u-center {
	text-align: center;
}
.u-right {
	text-align: right;
}
.u-left {
	text-align: left;
}

.center-abs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.center-flex {
	@include center-flex;
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($col-black, 0.4);
}

.fill {
	width: 100%;
	height: 100%;
}
.upp {
	text-transform: uppercase;
}

.sp-btw {
	display: flex;
	justify-content: space-between;
}

.cap {
	text-transform: capitalize;
}

.br {
	border-radius: $border-rad;
}

.round {
	border-radius: 50%;
}
.tablet {
	border-radius: 100px;
}
.weit {
	&-1 {
		font-weight: $weight-1;
	}
	&-2 {
		font-weight: $weight-2;
	}
	&-3 {
		font-weight: $weight-3;
	}
}

.small_svg {
	width: 2rem;
	height: 2rem;
	display: inline-block;
	fill: currentColor;
}

.tiny_svg {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	fill: currentColor;
}
.block {
	display: block;
}

.split {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	column-gap: 2rem;
	justify-content: center;
}

.top_right {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
}
