.header {
	&_main {
		border: 2px solid pink;
		padding: 1.5rem 0;
		padding-bottom: 1.5rem;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		right: 0;
	}
	&_branding {
		height: 4.5rem;
	}
	&_nav {
		padding: 1rem 0;
		padding-bottom: 1.5rem;
	}
}
