.prospective {
	& > [class~='container'] > *:first-child {
		margin-left: 4rem;
		@include respond(tab_port) {
			margin-left: 1rem;
		}
	}
}

.iframe_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	iframe {
		width: 100%;
		height: 100%;
		aspect-ratio: 16/9;
		@include respond(tab_port) {
			aspect-ratio: 9/16;
		}
	}
}
