.prospective {
	& > [class~='container'] > *:first-child {
		margin-left: 4rem;
		@include respond(tab_port) {
			margin-left: 1rem;
		}
	}
}

.iframe_container {
	// display: grid;
	// grid-template-columns: 1fr;
	// grid-template-rows: 1fr;
	position: relative;
	padding-top: 56.25%;
	@include respond(tab_port) {
		padding-top: 100%;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		aspect-ratio: 16/9;
		@include respond(tab_port) {
			aspect-ratio: 9/16;
		}
	}

}

